IF---->>>>>
-----------

In [1]:
a=int(input())
if a>0:
    print('positive',a)

positive 12

In [5]:
a=int(input())
if a>1 and a<5:
    print('hello world',a)

hello world 4

In [4]:
a=int(input())
if a%3==0:
    print('FIZZ',a)

FIZZ 12

In [6]:
a=int(input())
if a%2==0 and a%6==0:
    print(complex(a),a)

(30+0j) 30

In [7]:
a=int(input())
if a%3==0 and a%5==0:
    b=str(a)
    print(list(b))

['3', '0']

In [9]:
a=int(input())
if a%5==0:
    print('multiple by 5',a)

multiple by 5 45

In [10]:
num=int(input())
print(num)
if num==0:
    print('zero')

0
zero

In [11]:
num=int(input())
print(num)
if num<0:
    print('negative')

-5
negative

In [12]:
num=int(input())
print(num)
if num%2==0:
    a=str(num)
    print(list(a))

24658
['2', '4', '6', '5', '8']

In [13]:
num=int(input())
print(num)
if num%2==1:
    a=str(num)
    print(tuple(a))

2546841
('2', '5', '4', '6', '8', '4', '1')

In [15]:
num=int(input())
print(num)
if num%2==0:
    print(num**4)

148
479785216

In [22]:
num=int(input())
print(num)
if type(num) is int:
    print(num+10)

490
500

In [23]:
num=int(input())
print(num)
if num%5==0 and num%7==0:
    print(num**2)

70
4900

In [29]:
num=int(input())
print(num)
num1=num%10
if num1>5:
    print(num>>2)

16
4

In [30]:
num=int(input())
print(num)
if num%3==0 and num<30:
    print(num**2)

27
729

In [31]:
num=int(input())
print(num)
if num%2==0 and num%4==0:
    print(num**3)

48
110592

In [33]:
num=int(input())
print(num)
if num%2==0:
    a=str(num)
    print(list(a))

14532
['1', '4', '5', '3', '2']

In [2]:
num=int(input())
print(num)
num1=num%10
if num<0 or num%2==0:
    print(num1)

45621314
4

In [11]:
n=int(input())
print(n)
if (n<0 or n%2==1) and  n%4==0:
    print(n**3)

-40
-64000

In [24]:
a=int(input())
print(a)
if a%4==0 and a%2==0:
    print(chr(a))

88
X

In [25]:
num=int(input())
print(num)
if (num>45 and num<125) and (num%4==0 and num%5==0) and (num%2==0):
    print(chr(num))

100
d

In [27]:
num=int(input())
print(num)
if ((num>25 and num<100) and (num%4==0 and num%5==0)):
    print(num*5)

60
300

In [35]:
num=int(input())
print(num)
if type(num) is int and num%2==1:
    print(num%5)

45
0

In [36]:
num=int(input())
print(num)
num2=list(str(num))
if num>0 or num<0:
    print(num2)

46466
['4', '6', '4', '6', '6']

In [38]:
num=int(input())
ch=('praneeth')
ch1=len(ch)//2
if num<125 and num>60:
    print(ch[ch1])

e

In [39]:
num1=int(input())
num2=int(input())
print(num1,num2)
if num1==num2:
    print(num1+num2)

25 25
50

In [40]:
num1=int(input())
num2=int(input())
num3=(num1*num2)/3 
if num1==num2:
    print(num3)

5.333333333333333

In [41]:
ch=input()
if (ch>='A' and ch<='Z') or (ch>='a' and ch<='z'):
    ch1=ord(ch)
    a={ch:ch1}
    print(a)

{'a': 97}

In [44]:
ch=input()
if (ch>='A' and ch<='Z'):
    ch1=ord(ch)
    d={ch:ch1}
    print(d)

{'P': 80}

In [45]:
ch=input()
ch1=ord(ch)+32
ch2=chr(ch1)
if (ch>='A' and ch<='Z'): 
    print({ch1:ch2})

{100: 'd'}

In [1]:
ch=input()
if ((ch!='A' and ch!='Z') and (ch!='a' and  ch!='z') and (ch!='0' and ch!='9')):
    print(ch)
    print(ord(ch))

#
35

In [3]:
ch=input()
ch1=ord(ch)
if ch1%2==0:
    print(ch)
    print(ch1)
    print('even num')

D
68
even num

In [5]:
ch=input()
print(ch)
ch1=ord(ch)
ch2=chr(ch1+1)
if ch in ('aeiouAEIOU'):
    print(ch2)

e
f

In [6]:
ch=input()
print(ch)
ch1=ord(ch)
ch2=chr(ch1-1)
if ch not in ('aeiouAEIOU'):
    print(ch2)

h
g

In [11]:
a=True
print(a)
if type(a) in [int,float,bool,complex,None]:
    print('single value data type')

True
single value data type

In [12]:
a='245'
if type(a) in [str,tuple,set,dict] :
    print(a)
    print(tuple(a))

245
('2', '4', '5')

In [13]:
a=input()
if type(a) in [str,tuple,int,float,bool]:
    print(set(a))

{'4', '5', '1'}

In [18]:
num=list(input())
num2=len(num)
num3=num2//2
if num3%2==1:
    print(num)
    print('odd')

['4', '5']
odd

In [20]:
a='1'
b='1'
if a is b:
    print(id(a),id(b))

140712253601752 140712253601752

In [21]:
st1=input()
st2=input()
if st1==st2:
    st1==st2
    st2==st1
    print(st1,st2)

king king

In [22]:
ch=input()
if not ((ch>='A' and ch<='Z') or (ch>='a' and  num<='z') or (ch>='0' and ch<='9')):
    ch1=ord(ch)
    d={ch:ch1}
    print(d)

{'^': 94}

In [23]:
d=7
dict={1:123}
if d is not dict:
    dict[d]='1234'
    print(dict)

{1: 123, 7: '1234'}

In [25]:
num=int(input())
num1=num%10
if num1==2:
    print(num)
    print(num1,'is a last digit')

54782
2 is a last digit

In [26]:
a=int(input())
b=int(input())
if a==10 or b==10 or a+b==10:
    print(a+b)
    print((a+b)**2)

20
400

In [27]:
st=input()
st1=input()
if st != st1:
    print(st,len(st))
    print(st1,len(st1))

king 4
monkey 6

IF ELSE:
-------------

In [28]:
num=int(input())
print(num)
if num>0:
    print('positive')
else:
    print('negative')

45
positive

In [29]:
num=int(input())
print(num)
if num%2==0:
    print('even')
else:
    print('odd')

4562
even

In [30]:
num=int(input())
print(num)
if num>10:
    print('greater')
else:
    print('not greater')

50
greater

In [32]:
num=int(input())
print(num)
if num>45 and num<125:
    print(chr(num))
else:
    print('not between')

115
s

In [34]:
num1=int(input())
num2=int(input())
if num1%3==0 and num1%5==0 and  num2%3==0 and num2%5==0:
    print('good morning')
else:
    print('good evening')

good evening

In [36]:
a=int(input())
b=int(input())
print(a,b)
if a==b:
    c=a*b
    d=a%b
    print(c,d)
else:
    print('not equal')

145 145
21025 0

In [37]:
num1=int(input())
num2=int(input())
print(num1,num2)
if num1>num2:
    print('num1 is greater')
else:
    print('num2 is greater')

1457865 155456612
num2 is greater

In [38]:
num=int(input())
if num>10:
    print(num)
    print('greater')
else:
    print(num)
    print('not greater')

14230
greater

In [41]:
num=int(input())
print(num)
if num>21:
    print(num-21)
else:
    print((num-21)**2)

10
121

In [42]:
num1=int(input())
num2=int(input())
print(num1,num2)
if num1<num2:
    print('num1 is lesser')
else:
    print('num2 is lesser')

145861 152123564
num1 is lesser

In [43]:
num=int(input())
print(num)
if num%2==0:
    num1=num+10
    print(num1)
else:
    num2=num+1
    print(num2)

114
124

In [51]:
num=int(input())
if num%3==0:
    print(num)
else:
    print(num**3)
print(num)

148877
53

In [52]:
num=int(input())
if num%3==0 and num%5==0:
    print(num)
else:
    num1=list(str(num))
    print(num1)

30

In [53]:
num=int(input())
print(num)
if num>1 and num<19:
    print(num**2)
else:
    print(num)
    print(num**3)

123
123
1860867

In [54]:
marks=int(input())
if marks>40:
    print('pass')
else:
    print('fail')

pass

In [55]:
num=int(input())
print(num)
if num%2==0 and num>47 and num<58 and  num!=0:
    print(chr(num))
else:
    print(num//5)

50
2

In [56]:
num=int(input())
if num<125 and num>47 and num<125:
    d={num:'dhoni'}
    print(d) 
else:
    print(list(str(num)))

{120: 'dhoni'}

In [57]:
ch=input()
if ch>='A' and ch<='Z' or ch>='a' and ch<='z':
    print(ch)
    print('alphabet')
else:
    print(ch)
    print('not alphabet')

d
alphabet

In [58]:
ch=input()
if ch>='A' and ch<='Z':
    print(ch)
    print('upper case')
else:
    print(ch)
    print('other character')

X
upper case

In [59]:
ch=input()
if ch>='a' and ch<='z':
    print(ch)
    print('lower case')
else:
    print(ch)
    print('other character')

P
other character

In [63]:
ch=input()
print(ch)
if ch>='A' and ch<='Z':
    ch1=ord(ch)+32
    ch2=chr(ch1)
    print(ch2)
else:
    print(ord(ch))

M
m

In [65]:
ch=input()
print(ch)
if  ch>='a' and ch<='z':
    ch1=ord(ch)-32
    ch2=chr(ch1)
    print(ch2)
else:
    ch>='A' and ch<='Z'
    ch1=ord(ch)+32
    ch2=chr(ch1)
    print(ch2)

u
U

In [66]:
ch=input()
if ch in "aeiouAEIOU":
    print('vowel')
else:
    print('consonant')

vowel

In [67]:
ch=input()
if ch in 'aeiouAEIOU':
    ch1=ord(ch)
    ch2=chr(ch1+1)
    print(ch2)
else:
    ch3=ord(ch)
    ch4=chr(ch3-1)
    print(ch4)

m

In [68]:
st=input()
st1=st[0]
if st>='A' and st<='Z' or st>='a' and st<='z':
    print(st1)  
    print('alphabet')
    print(st[::-1])
else:
    st2=len(st)
    st3=st2//2
    st4=st(st3)
    print(st4)

p
alphabet
hteenarp

In [69]:
ch=input()
print(ch)
if  ch>='a' and ch<='z':
    ch1=ord(ch)-32
    ch2=chr(ch1)
    print(ch2)
else:
    ch>='A' and ch<='Z'
    ch1=ord(ch)+32
    ch2=chr(ch1)
    print(ch2)

v
V

In [70]:
st=input()
st1=len(st)
if st1<3:
    print(st)
else:
    print(st[3:])

neeth

In [71]:
st=input()
st1=len(st)
if st1%2==0:
    st2=('bye'+st)
    print(st2)
else:
    print(st[0],st[-1])

b i

In [76]:
st=input()
if len(st)%2==0:
    print("hai" +  st)

haiamit

In [78]:
year=int(input())
if year%4==0 and (year%100!=0 or year%400==0):
    print('leap yaer')
else:
    print('not leap year')

leep yaer

In [79]:
ch=input()
if ch in ('PRANEETH'):
    print('avilable')
else:
    print('not avilable')

avilable

In [83]:
l={5,2,6,3,4,7,8,9,4,3}
if type(l)==set:
    l.add(7)
    print(l)
else:
    print(set(l))

{2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
age=int(input())
if age>=18:
    print('eligible')
else:
    print('not elgible')

eligible

In [85]:
num=int(input())
print(num)
if num >47 and num<58 and num !=0 or num%2==1:
    print(chr(num))
else:
    print(num//5)

49
1

In [86]:
st=input()
st1=input()
if len(st)==len(st1):
    print(st,st1)
else:
    print(st,len(st))
    print(st1,len(st1))

KING RAJA

In [90]:
a=['1','2','3']
b=['1','7','3']
if a is b:
    c=len(b)//2
    print(b[c])
else:
    print(a[0],a[-1])
    print(id(a[0]),id(a[-1]))

1 3
140712253601752 140712253601848

In [91]:
st=input()
if len(st)>10 and (ord(st[0]+ord(st[-1]))%5==0):
    mid=len(st//2)
    print(st[0],st[-1],st[mid])
else:
    print(st*3)

KNHHHGJTDFKNHHHGJTDFKNHHHGJTDF

In [93]:
l=[1,2,4,3]
if type(l[len(l)//2]) not in [str]:
    print(l)
else:
    print(l[len(l)//2])

[1, 2, 4, 3]

In [95]:
num=int(input())
if num%7==0 and num%5!=0:
    print(num)
else:
    print(num*4)

56

In [97]:
i=int(input())
n=int(input())
if i is n:
    print(id(i),id(n))
else:
    print(i,n)

140712253541208 140712253541208

In [98]:
ch=input()
if not (ch>='a' and ch<='z' or ch>='A' and ch<='Z' or ch>='0' and ch<='9'):
    print(ch*5)
    print(ch*3)
    print(ch)

&&&&&
&&&
&

In [99]:
st1='iphone'
st2='iphone'
if len(st1)==len(st2):
    print(st1[0]+st2[1])
else:
    print(st1,st2)

ip

In [100]:
s='jkkl'
s1='abb'
if s is s1:
    print(s1[-1])
else:
    print(s[0])
    print(id(s[0]))

j
140712253604488

In [101]:
l='aeiou'
mid=len(l)//2
if len(l)>3 and l[mid] in 'aeiouAEIOU' and ord(l[0])%2==0:
    l2=l[mid-1]
    print(l2)
    print(l*5)
elif ord(l[0])%2!=0:
    print(l*3)

aeiouaeiouaeiou

In [102]:
p=input()
if p == 'cello' or p=='red':
    cost=10
    print('pen is in the shop')
else:
    print('got out')

pen is in the shop

In [103]:
a=[1,2,6,4,5]
mid=len(a)//2
if a[mid]%2==0 and a[0]%2==0:
    print(a[0]+a[mid])
else:
    print(a[0]-a[mid])

-5

In [104]:
l1=['4',5,3,1]
l2=[1,8,5,7]
if type(l1[0] is int and type (l2[0])) is int:
    l3=l1+l2
    print(l3)
else:
    print(id(l1), id (l2))

2859925245632 2859925178688